html {
  background-color: #2f4461;
}

.image {
  width: auto;
  margin: auto;
  height: auto;
  display: block;
  min-width: 20%;
  max-width: 100vw;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
